body {
    background-color: #1C1C1C;
  }
  
  #MainDiv {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 80%;
  }
  
  #MainHeader {
    color: white;
    text-align: center;
    margin-top: 2rem;
  }
  
  #categoryList {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }
  
  #categoryList button {
    border: none;
    background-color: #1C1C1C;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    cursor: pointer;
  }
  
  #categoryList button.active {
    background-color: white;
    color: #1C1C1C;
  }
  
  #productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  
  
  #productCard {
    width: calc(33.33% - 1rem);
    margin: 1rem;
    margin-bottom: 20px;
    padding: 1rem;
    background-color: #2C2C2C;
    color: white;
    transition: background-color 0.5s ease-in-out;
    overflow: hidden;
  }
  
  #productCard:hover {
    background-color: #30272748;
  }

  .productImage {
    height: 200px;
    overflow: hidden;
    display: block;
    width: 100%;
    object-fit: cover;
  }
  
  .productImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .productDetails {
    margin-top: 1rem;
  }
  
  .productDetails h3 {
    margin-bottom: 0.5rem;
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
  }
  
  .productDetails p {
    margin-bottom: 0.5rem;
    font-size: 16px;
    margin: 20px;
  }
  
  .productDetails button {
    border: none;
    background-color: #1C1C1C;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    cursor: pointer;
  }
  
  .productDetails button:hover {
    background-color: #E0E0E0;
  }
  
  form {
    width: 100%;
    margin-top: 2rem;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #2C2C2C;
    color: white;
  }
  
  form input:focus,
  form textarea:focus {
    outline: none;
    box-shadow: 0 0 0 2px #1C1C1C;
  }
  
  form button {
    border: none;
    background-color: #1C1C1C;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #E0E0E0;
  }

  